ccxt
orjson
aiodns
arrow
sqlalchemy
psycopg2-binary
cachetools
numpy
asyncpg
APScheduler
six
tqdm
tzlocal
tabulate
PyYaml
aiohttp
psutil
PyJWT
python-dateutil

python-telegram-bot
corpwechatbot

pydantic
fastapi
uvicorn
